.places-list {
  display: flex;
  flex-direction: column;
  gap: 50px;
  margin-top: 20px;
}

.header {
  color: rgb(0, 110, 255);
  font-size: 50px;
  text-align: center;
}

.input {
  text-align: center;
}

.text {
  text-align: center;
  width: 1000px;
  box-shadow: 0px 2px gray;
  padding: 5px;
  border: none;
}

.place-item {
  border: 1px solid #ddd;
  border-radius: 10px;
  padding: 20px;
  flex-direction: row;
  display: flex;
  height: 300px;
}

.photo1 {
  width: 20%;
  border-radius: 20px;
}

.place-photo {
  width: 100px; /* ปรับขนาดตามต้องการ */
  height: 100px; /* ปรับขนาดตามต้องการ */
  margin-right: 10px; /* ระยะห่างระหว่างรูปภาพ */
  margin-bottom: 10px; /* ระยะห่างระหว่างรูปภาพ */
  border-radius: 10px;
}

.photo3 {
  width: 400px;
  display: flex;
  align-items: end;
  margin-left: 2%;
}

.text-box {
  position: absolute;
  left: 23%;
}

.place-item h2 {
  font-size: 1.5em;
  margin: 10px;
}

.place-item p {
  margin: 10px;
}

.place-item a {
  color: blue;
  text-decoration: underline;
}

.tags {
  margin-top: 10px;
}

.tag {
  display: inline-block;
  background-color: #f0f0f0;
  border-radius: 5px;
  padding: 5px 10px;
  margin-right: 5px;
  font-size: 0.9em;
}
